:root {
    --primary-orange:rgba(247, 128, 101, 1);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", arial, sans-serif;
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: 100%;
    font-style: italic;
    color: grey;
}

a, button, li {
    cursor: pointer;
}

@font-face {
    font-family: "Monserrat";
    src: url(/font/Montserrat-VariableFont_wght.ttf);
}