
.hero {
  margin-block-end: 15rem;
}

.hero img {
  position: relative;
  width: 90rem;
}

.hero div {
  position: absolute;
  bottom: 26%;
  left: 15%;
  z-index: 1;
  background: white;
  width: 46rem;
  padding: 5rem;
}

.hero h2 {
  font-size: 2.4rem;
  margin-inline-end: 5rem;
  margin-block-end: 2rem;
}

.hero p {
  font-size: 1.25rem;
  margin-inline-end: 12rem;
  color: grey;
}

.hero button {
  background: var(--primary-orange);
  border: none;
  color: white;
  padding: 1rem 3rem;
  font-weight: 700;
  font-size: 1.5rem;
  margin-block-start: 2rem;
 }


