.sites {
    display: grid;
    /* Removed grid-column as it may not be needed */
    grid-template-columns: repeat(3, 1fr); /* Changed to define three equal columns */
    gap: 2rem;
}

.sites img {
    width: 14.375rem;
}
